
/*These are the css styles for the container panels
* pulled from  //online_services/includes/css
*/

/*CollapsiblePanel*/




.panel-wrapper {
  padding-top: 5%;
  padding-bottom: 5%;
  width: 90%;
  margin-left: 5%;
}

.ContainerPanel
{
	background-color: #E6E8E7;
	/*border: 1px solid #D9E7ED;   */
	margin-bottom: 0.5%;
	cursor: hand;
	cursor: pointer;
	TEXT-ALIGN: left;
	padding-top: 2%;
	font-family: 'Lato', sans-serif;
}

.collapsePanelHeader
{
       background-color: #ECEEED;
       color:#386F92;
	   /*padding: 7px;*/
	   margin:1px;
	   /* border-bottom: 1px solid #D9E7ED; */
	   
}

.HeaderSubject3
{
	padding-top: 5px;
	padding-left: 65px;
	margin-top: 5px;
	border-top: 1px solid #ECEEED;
}
.HeaderSubject
{
	font-size: 13px;
	padding-left: 12%;
	position: relative;
}
.HeaderContent
{
	width: 400px;
	FONT-SIZE: 20px;
	COLOR: #276598;
	TEXT-ALIGN: left;
	padding-left: 10px;
	/*margin-left: 250px;*/
}

.Content
{
	margin: 3px;
	padding: 7px;
	background-color: #FFFFFF;
}

.ArrowExpand
{
    background-image: url(images/online_services/expand.png);
    width:11px;
    height:11px;
    float:right;
	background-repeat: no-repeat;
}

.ArrowExpand:hover
{
       cursor:hand;
}

.ArrowClose
{
       background-image: url(images/online_services/collapse.png);
       width:11px;
       height:11px;
       float:right;
	   background-repeat: no-repeat;
}

.ArrowClose:hover
{
       cursor:hand;
}

.SubCategoryLabel
{
	font-size: 13px;
    FONT-WEIGHT: bold;
	COLOR: #34495E;
}
.SubCategory
{
	padding-bottom: 10px;
	padding-right: 15px;
	width: 31%;
	float: left;
	VERTICAL-ALIGN: top;
}
.SubCategoryL
{
	padding-bottom: 10px;
	padding-right: 15px;
	width: 31%;
	float: left;
	VERTICAL-ALIGN: top;
}
.SubCategoryR
{
	padding-bottom: 10px;
	padding-right: 15px;
	width: 31%;
	float: right;
	VERTICAL-ALIGN: top;
}
.SubCategoryM
{
	padding-bottom: 10px;
	padding-right: 15px;
	width: 31%;
	VERTICAL-ALIGN: top;
}
ul
{
list-style-type:none;
padding:0px;
margin:0px;
	padding-bottom: 15px;
}
li
{
/*background-image:url(images/online_services/bullet3.gif);
background-repeat:no-repeat;
background-position:0px 50%; */
padding-left:14px; 
}

.RelatedLinks
{
	width: 35%;
	padding: 5px;
	border: 1px solid #D9E7ED;
	vertical-align: top;
	background-color: #ffffff;
	float: right;
	COLOR: #34495E;
	font-family: 'Lato', sans-serif;
}

.expand_wrapper::after {
	content: '';
	padding: 7px;
}

#Div4, #Div12, #Div29, #Div35, #Div41, #Div47, #Div22, #Div53, #Div59, #Div71, #Div65, #Div77{
	padding-left: 5%;
}