/* Main stylesheet for cityofboston.gov
layout
page region styles
typography
main navigation
sub navigation
content_main
content_sub
footer
search
segment boxes
student
resident
business
visitor
translation
*/


/* Layout */

body {
	min-width: 705px;                                             /* The layout is done using  */
	margin-bottom:20px;                                           /* the "Holy Grail" method   */
}                                                                 /* For documentation see:    */
#bd {                                                             /* http://tinyurl.com/s6vdj  */
	padding-left: 235px;
	padding-right: 235px;
}

#bd_one {                                                             /* http://tinyurl.com/s6vdj  */
	padding-left: 15px;
	padding-right: 15px;
                overflow: auto;
}

#bd_two {                                                             /* http://tinyurl.com/s6vdj  */
	padding-left: 235px;
	padding-right: 15px;
                overflow: auto;
}
#content_main,
#nav_sub,
#content_sub {
	position: relative;
	float: left;
}
#content_main {
	width: 100%;
}
#nav_sub {
	width: 234px;
	right: 235px;
	margin-left: -100%;
	padding-bottom: 10em; /* add padding to keep leftnav from overflowing with stuff above the footer*/
}

#content_sub {
	width: 234px;
	margin-right: -235px;
}
#ft {
	clear: both;
}

/* Page Region Styles */

html {
	background-color:#9FC7D2;
}
#page_wrapper {                                                          /* There are two page  */
	background:#FFF url(/images_documents/bg_page_right.gif) repeat-y right top;    /* wrapper divs that   */
	padding-right:9px;                                                   /* add the left and    */
}                                                                        /* right drop shadows  */
#page_wrapper_inner {
	background:#FFF url(/images_documents/bg_page_left.gif) repeat-y left top;
	padding-left:9px;
}
#hd {                                                             /* This is so the gradient    */
	background:url(/images_documents/bg_hd.jpg) repeat-x 0px 0px;            /* continues when the page is */
}                                                                 /* wider than 974px           */
.department #hd {
	background:url(/images_documents/bg_hd_short.gif) repeat-x 0px 0px;
}
hr {
	border: 0; 
	color: #C7D9DF;
	background-color: #C7D9DF;
	height: 1px;
	width: 100%; 
	align: center; 
}
.home #hd_inner {
	background:url(//www.cityofboston.gov/images_documents/home_boston_skyline_xyz.jpg) no-repeat 235px 0px;          /* This is section banner img */
}
h1#branding {
	display:block;
	height:155px;
	width:235px;
	text-indent:-9999px;
	background:url(/images_documents/masthead.jpg?a) no-repeat 0px 0px;
}
.department h1#branding {
	height:75px;
	background:url(/images_documents/masthead_short.gif) no-repeat 0px 0px;
}
#content_main_inner {
	padding: 6px 20px;
	
}

.content_main_sub p {
	padding: 0.5em 0;
}

.content_main_sub h2 {
	color:#276598;
	font-weight:bold;
	font-family:Georgia;
	font-size:153.9%
}

.content_main_sub {
	font-size: 80%;
}

.content_main_sub li {
	margin-left: 30px;
	list-style-type: disc;
}

.content_main_sub ol li {
	list-style-type: decimal;
}


.content_sub {                                          /* Free-flowing paragraphs in center column */
	padding: 0.5em 0;
	font-size: 80%;
}


#bd {
	background:url(/images_documents/bg_left.jpg) repeat-y 0px 0px;          /* This creates the left     */
	position:relative;                                            /* column background         */
}

#bd_one {
	/*  background:url(/images_documents/bg_left.jpg) repeat-y 0px 0px;          This creates the left     */
	position:relative;                                            /* column background         */
}

#bd_two {
	background:url(/images_documents/bg_left.jpg) repeat-y 0px 0px;          /* This creates the left     */
	position:relative;                                            /* column background         */
}



#content_main_inner ul li {
	list-style-type: disc;
}

#bd_wrapper {
	background:url(/images_documents/bg_right.jpg) repeat-y 100% 0px;        /* This creates the right    */
	position:relative;                                            /* column background         */
}

#bd_one_wrapper {
	/* background:url(/images_documents/bg_right.jpg) repeat-y 100% 0px;        This creates the right    */
	position:relative;                                            /* column background         */
}
#nav_sub {
	border-top:1px solid #5487A3;
}
#content_sub {
	border-top:1px solid #D9E7ED;
}
#ft {                                                             /* This adds the drop shadow */
	background:url(/images_documents/bg_page_bottom.gif) repeat-x 0px 0px;   /* at the bottom of the page */
	margin-top:5px;
}
#ft_wrapper {                                                     /* This keeps the side       */
	padding:0 3px;                                                /* shadows from appearing    */
	background-color:#9FC7D2;	/* along side the footer     */
	margin-left:-10px;
	margin-right:-10px;
}

/* General Typography */

body {
	font-family:verdana,arial,sans-serif;
}
a {
	text-decoration:none;
	color:#0033CC;
}
a:hover {
	text-decoration:underline;
}
a img{
	border: 0;
}


div .image_wrap2 a._external:link,
div .image_wrap2 a._external:visited {
	list-style-image: none;
	list-style-type: none;
	background:none;
	padding-right:0px !important;;
	display:block !important;
}

a._external:link,
a._external:visited {
	list-style-image: none;
	list-style-type: none;
	background:transparent url(/images_documents/iconexternallink.gif) no-repeat right 1px;
	padding-right:20px; 
}

#content_sub a._external:link,
#content_sub a._external:visited {
	display:block !important;
} /* lines up external icons on the right edge in the right column */

/* added by Array Studio */

#nav_sub ul.top_level li a._external span {
	background: transparent url(/images_documents/iconexternallink.gif) no-repeat right 1px;
	padding-right:22px;   
}

#nav_main ul li a._external:link,
#nav_main ul li a._external:visited {
	list-style-image: none;
	list-style-type: none;
	background: transparent url(/images_documents/iconexternallink.gif) no-repeat right 5px;
	padding-right:22px;
}

/* added by Array Studio */

a.doc:link,
a.doc:visited {
	list-style-image: none;
	list-style-type: none;
	background:transparent url(/images_documents/word.gif) no-repeat right 0px;
	padding-right:20px;  
	/*display:inline !important;   comment out to keep PDF icons from messing up homepagearticle images */
}
	

	
a.pdf:link,
a.pdf:visited {
	list-style-image: none;
	list-style-type: none;
	/*background:transparent url(/images_documents/pdf.gif) no-repeat right 1px;*/
	/*padding-right:20px;*/ 
	/*display:inline !important;   comment out to keep PDF icons from messing up homepagearticle images */
}


img.pdf { margin-left: 7px; position: relative; top: 0px; height: 12px !important; width: 12px !important; background: none repeat scroll 0 0 transparent; }	
	
a.xls:link,
a.xls:visited {
	list-style-image: none;
	list-style-type: none;
	background:transparent url(/images_documents/ex.gif) no-repeat right 1px;
	padding-right:20px; 
	display:inline !important;
}
em {
                font-style: italic;
}
strong {
	font-weight:bold;
}
.hide {
	display:none;
}

/* Main Navigation Styles */

#nav_main {
	border-bottom:1px solid #C7D9DF;
	margin-bottom:5px;
	background-color:#FFF;
	height:25px;
}
#nav_main ul {
	overflow:hidden;                                              /* Hides the dotted line on top of the first list item */
}
#nav_main ul li {
	background:transparent url(/images_documents/nav_divider.gif) no-repeat scroll 0px 11px;
	float:left;
	height:25px;
	margin-left:-3px;                                             /* Hides the dotted line on top of the first list item */
	padding:0px 3px;                                              /* Adds space between divider and text */
}
#nav_main ul li a {
	font-size:77%;
	color:#438FB6;
	font-weight:bold;
	padding:5px 8px 8px 8px;                                              /* Adds space around link for bg img */
	display:block;
}
#nav_main ul li a.active {
	background: url(/images_documents/nav_active_bg.gif) repeat-x 0px bottom;
	color:#000030;
}
#nav_main ul li a:hover {
	color:#000030;
	text-decoration:none;
}

/* Sub Navigation Styles */

#nav_sub {
	font-size:80%;
	position:relative;
}
#nav_sub h2 {
	color:#FFF;
	font-family:Georgia;
	font-size:145%;
	/* Adds space around header for bg img */
	margin-left:1px;                                              /* Moves item over by 1px */
	letter-spacing:0.04em;
	border-top:1px solid #86B9CC;
	background: url(/images_documents/sub_nav_header_bg_home.gif) repeat-x 0px center;
	z-index:20;
	position:relative;
}



#nav_sub a {
	color:#FFF;
	display:block;
	
}
#nav_sub .header {
	padding:7px 6px;
}

#nav_sub a:hover {
	text-decoration:none;
}


#nav_sub ul {
	overflow:hidden;                                              /* Hides the dotted line on top of the first list item */
	margin-bottom:10px;	
	color:#316180;
	z-index:10;
	position:relative;
}
#nav_sub li {
	display:block;                                                /* Margin adds space on right and left of test */
	margin:-1px 10px 0px;                                         /* Hides the dotted line on top of the first list item */
	padding:8px 0px;                                              /* Padding adds between dotted line and text. If you used padding the dotted line would do all the way accross */
	background:url(/images_documents/dotted_line_white.gif) repeat-x left top;
}
#nav_sub .selector_nav_items {
	margin:10px 0px;
}
#nav_sub form {
	background:transparent url(/images_documents/bg_left.jpg) repeat-y scroll -10px 0px;
	margin-bottom:-3px;                                           /* Hides the dotted line on top of the dropdowns */
	margin-top:-9px;                                              /* Use and image instead of #hex so that color matches in every browser */
	padding-top:7px;
}



#nav_sub select {
	width:215px;
	border:1px solid #6297AF;
	font-size:100%;
}
#nav_sub label {
	display:block;
	margin-bottom:10px;
}
#nav_sub ul ul {                                                  /* Here begin the department #nav_sub ul.top_level styles */
	margin-bottom:0px;
}
#nav_sub ul.top_level {
	background-color:#6297AF;
}



#nav_sub ul.top_level li {
	font-weight:bold;
	padding:0px 10px;
	margin:0px;
	background:transparent none;
	border-bottom: 2px solid #87b6ca;
	
}
#nav_sub ul.top_level li li {
	font-weight:normal;
	margin:0px;
	padding:0px;
	background:url(/images_documents/dotted_line_blue.gif) repeat-x left top;
	border-bottom:0px;
}
#nav_sub ul.top_level li a {
	padding:4px 15px;
	background:url(/images_documents/top_level_big_off.gif) no-repeat left center;
}
#nav_sub ul.top_level li a.active {
	background:url(/images_documents/top_level_big_on.gif) no-repeat left center;
	color:#003;
}
#nav_sub ul.top_level li li a {
	padding:4px 20px;
	background:url(/images_documents/top_level_small_off.gif) no-repeat left center;
}
#nav_sub ul.top_level li li a.active {
	background:url(/images_documents/top_level_small_on.gif) no-repeat left center;
	color:#003;
}
#nav_sub_footer {
	position:absolute;                                            /* This creates the bottom of the #nav_sub column */
	left:0px;
	bottom:0px;
	display:block;
	width:233px;
	border-bottom:1px solid #5487A3;
}
#nav_sub_footer a {
	color:#FFF;
}
#nav_sub_footer li {
	display:block;
	font-size:70%;
	margin-left:10px;                                             /* Margin adds space on right and left of test  */
	margin-right:90px;                                            /* if you used padding the dotted line would do all the way accross */
	padding:7px 0px;                                              /* Padding adds between dotted line and text  */
	background:url(/images_documents/dotted_line_white.gif) repeat-x left top;
}

.font_resizer {
	padding: 3px;
	vertical-align: bottom;
	float: right;
	/*width: 200px;*/
	color:#316180;
	font-size: 75%;
}
.font_resizer a {
	vertical-align: bottom;
	padding:0 2px;
	text-align: center;
	border: 1px solid #ccc;
	color: #666;

}
.smallFont { 
	font-size: 10px; 
}
.medFont { 
	font-size: 12px; 
}
.largeFont { 
	font-size: 15px; 
}
.curFont { 
	background: #EEEEF7; 
}

/* Main Content Styles */

#content_main h2.page_title {
	font-family:Georgia;
	color:#438FB6;
	letter-spacing:0.04em;
	font-size:153.9%
}

#content_main .page_leader {
	font-size:70%;
	color:#386F92;
	background:url(/images_documents/dotted_line_blue.gif) repeat-x left bottom;
	padding-bottom:10px;                                          /* Padding adds between dotted line and text  */
	margin-bottom:15px;                                           /* Margin adds space between the text and the following list of stories  */
}
#content_main .page_leader .page_date {
	text-align:right;
	margin-top:-20px;	/* Moves the date up to be line with h2.page_title  */
}
.image_wrap2 img {
	padding:1px;
	display:block;
	background:#FFF;
	border:solid 1px #FCFCFC;
}
.image_wrap2 {
	border:solid 1px #F5F5F5;
}
.image_wrap1 {
	border:solid 1px #DFDFDF;
	background:#EBEBEB;
	padding:1px;
	float:left;
	margin-right:10px;
}
.float_75 {
	margin-left:95px;                                             /* Aligns text for stories with 75px wide images */
}
.float_150 {
	margin-left:170px;                                             /* Aligns text for stories with 150px wide images */
}
.float_200 {
	margin-left:220px;                                            /* Aligns text for stories with 200px wide images */
}
#content_main_inner .stories {
	margin-left: 0;
	padding-left: 0;
	overflow:auto;
	border-bottom:1px solid #C7D9DF;
	margin-bottom: 10px;
	margin-top:-1px;	/* Hides the dotted line on top of the first list item */
}

#content_main_inner .stories ul {
	margin-left: 0;
	padding-left: 0;
}

#content_main_inner .stories li {
	margin-top:-1px;                                             /* Hides the dotted line on top of the first list item */
	overflow: auto;
	_height: 100%;
	padding:10px 0px;
	background:url(/images_documents/dotted_line_blue.gif) repeat-x left top;
	font-size:77%;
	list-style-type: none;
	list-style-position: outside;
}
#content_main_inner .stories li h4 {
	font-weight:bold;
	font-size:95%;
                color: black;
                font-family: verdana,arial,sans-serif;
                padding-top: 0px;
}
#content_main_inner .stories li a {
	font-size:95%;
}


.sub_main_hd {
	padding-top:5px;
	color:#316180;
	font-size:80%;
	overflow:auto;
	border-bottom: 1px solid #C7D9DF;
	margin-bottom: 5px;
}
.sub_main_hd .content {
	margin-bottom: 5px;
	padding-bottom:10px;
	
}
.sub_main_hd h2 {
	font-family:Georgia;
	font-size:195%;
	font-weight:bold;
	margin-bottom:6px;
}
.sub_main_hd_noline {
	padding-top:5px;
	color:#316180;
	font-size:80%;
	overflow:auto;
	margin-bottom: 5px;
}
.sub_main_hd_noline .content {
	margin-bottom: 5px;
	
}
.sub_main_hd_noline h2 {
	font-family:Georgia;
	font-size:195%;
	font-weight:bold;
}


#content_main_hd {
	padding-top:5px;
	color:#316180;
	font-size:80%;
	overflow:auto;
	border-bottom: 1px solid #C7D9DF;
	margin-bottom: 5px;
}
#content_main_hd .content {
	margin-bottom: 5px;
	padding-bottom:10px;
	
}
#content_main h2 {
    color: #276598;
    font-family: Georgia;
    font-size: 153.9%;
    font-weight: bold;
}
#content_main h3 {
	color:#276598;
	font-size:120%;
	font-weight:bold;
	font-family:Georgia;
	padding-top:10px;
}
#content_main h4 {
    color: #276598;
    font-family: Georgia;
    font-size: 110%;
    font-weight: bold;
    padding-top: 10px;
}

#content_main h5 {
    color: #276598;
    font-family: verdana,arial,sans-serif;
    font-size: 100%;
    font-weight: bold;
    padding-top: 10px;
}
#content_main h3.section_hd { /* unused; using classless h3 instead */
}


#content_main ul.block {                                          /* These .block styles are are the colored lists in the content_main region */
	list-style-type: none;
	font-size:80%;
	border:1px solid #D9E7ED;
	margin-bottom:10px;
	margin-top:2px;
	overflow:hidden;
}
#content_main ul.block.tan {
	background-color:#F0F0F0;
}
#content_main ul.block.blue {
	background-color:#F2F7F9;
}
#content_main ul.block.yellow {
	background-color:#FBFCDC;
}
#content_main ul.block li {
	list-style-position: outside;
	list-style-type: none;
	display:block;                                                /* Margin adds space on right and left of test */
	margin:-1px 10px 0px;                                         /* Hides the dotted line on top of the first list item */
	padding:12px 0px;                                             /* Padding adds between dotted line and text. If you used padding the dotted line would do all the way accross  */
	background:url(/images_documents/dotted_line_blue.gif) repeat-x left top;
}
.emergency {
	color:#D00808;
	border:2px solid #D00808;
	padding:6px;
	font-size:70%;
}
.emergency ul {
	margin-left:20px;
}
.emergency ul li {
                list-style-type: disc !important;
}
#content_main div.emergency h4{
                color: #D00808; 
padding-top: 0px;
font-family: verdana,arial,sans-serif;
font-weight: bold;
font-size: 100%;
}
.nonemergency {
border: 2px solid black;
color: #000000;
}
.nonemergency h4{
color: #000000 !important;
}
.faq_set {                                                        /* Begin FAQ styles */
	font-size:80%;
}

.faq_set h5 {
	color:#276598;
	font-family:Georgia;
	font-weight:bold;
	font-size:120%
}
.faq_set li {
	margin-left: 30px;
	list-style-type: disc;
}

.faq_set ol li {
	list-style-type: decimal;
}

.faq_set ul li {
	list-style-type: disc;
}
#divExpand {
	color:#AAAAAA;
	cursor:pointer;
	margin: 10px 0px;
}
dt {
	color:#274867;
	font-weight:bold;
	cursor:pointer;
	margin:10px;
}
.faq dd {
	margin:10px;
}

/* Sub Content Styles */

#content_sub {
	font-size:80%;
}
#content_sub h2 {
	color:#386F92;
	font-family:Georgia;
	font-size:145%;
	padding:7px 6px;                                              /* Adds space around header for bg img */
	margin-left:1px;                                              /* Moves item over by 1px */
	letter-spacing:0.04em;
	background: url(/images_documents/sub_content_header_bg.gif) repeat-x left center;
	border-top:1px solid #D9E7ED;
}
#content_sub h2 a:hover {
	text-decoration:none;
}
#content_sub ul {
	overflow:hidden;	/* Hides the dotted line on top of the first list item */
	margin-bottom:10px;
}
#content_sub li {
	display:block;                                                /* Margin adds space on right and left of test */
	margin:-1px 10px 0px;                                         /* Hides the dotted line on top of the first list item */
	padding:10px 0px;                                             /* Padding adds between dotted line and text. If you used padding the dotted line would do all the way accross  */
	background:url(/images_documents/dotted_line_blue.gif) repeat-x left top;
}
#content_sub a {
	display:block;
}

.iconLink {
	display: inline !important;
}

#content_sub li.calendar {
	padding-bottom:12px;
}
#content_sub li.calendar img {
	float:right;
}
#content_sub li.adobe img {
	margin:10px 0px;
}
#content_sub_footer {                                             /* This creates the bottom of the #content_sub column */
	position:absolute;
	right:0px;
	bottom:0px;
	display:block;
	width:233px;
	height:1px;
	border-bottom:1px solid #D9E7ED;
}

/* Footer Styles */

#ft ul {
	float:right;
	margin-top:10px;
	font-size:77%;
}
#ft li,
#ft li a {
	color:#FFF;
	display:block;
	display:inline;
	padding-left:20px;
}

/* Search Styles */

#search {
	background-color:#E8F1F5;
	padding:5px 5px 20px;
	border:1px solid #FFFFFF;
	margin-left:1px;
}
#search form {
	display:inline;
}
#search label {
	font-weight:bold;
	color:#316180;
}
#search #searchField {
	border:1px solid #D2D2D2;
	font-size:120%;	
}
#search .button {
	color:#FFF;
	background:url(/images_documents/bg_button.gif) repeat-x;
	border:1px solid #689DAA;
	letter-spacing:0.1em;
	cursor:pointer;
}

.btn {
	color:#FFF;
	background:url(/images_documents/bg_button.gif) repeat-x;
	border:1px solid #689DAA;
	letter-spacing:0.1em;
	cursor:pointer;
}



/* colorful boxes on homepage */
#content_main_inner .boxes div {	/* Creates the four colored blocks  */
	display:block;
	width:215px;
	height:200px;
	margin-bottom:11px;
	float:left;
}
#content_main_inner .box_resident, .box_visitor {                                             /* Adds space between left and right blocks */
	margin-right:11px;
}
#content_main_inner .box_resident {
	border:solid 1px #D8EECB;
	background: #E6F4DC url(/images_documents/box_one.gif) repeat-x left top;
}
#content_main_inner .box_business {
	border:solid 1px #D2E3D0;
	background: #E3EFE2 url(/images_documents/box_two.gif) repeat-x left top;
}
#content_main_inner .box_visitor {
	border:solid 1px #C2E3D4;
	background: #D7EDE4 url(/images_documents/box_three.gif) repeat-x left top;
	clear:left;
}
#content_main_inner .box_student  {
	border:solid 1px #D7E0F4;
	background: #E5EBF7 url(/images_documents/box_four.gif) repeat-x left top;
}
#content_main_inner .box_resident h3 {
	color:#55B354;
}
#content_main_inner .box_business h3 {
	color:#759E7E;
}
#content_main_inner .box_visitor h3 {
	color:#6CAFA7;
}
#content_main_inner .box_student h3 {
	color:#6372A2;
}
#content_main_inner .boxes h3 img {	/* Clears float so that four boxes are */
	float:right;                                                  /* vertically aligned or form a square */
	margin-top:-6px;
}
#content_main_inner .boxes h3 {
	font-size: 120%;
	font-family:Georgia;
	padding:9px;
}
#content_main_inner .boxes p {
	font-size:70%;
	padding:10px 9px 6px;
}
#content_main_inner .boxes li {
	font-size:77%;
	padding:6px 9px;
	list-style-type: none;
	list-style-position: outside;
	background:url(/images_documents/dotted_line_blue.gif) repeat-x left top;
}

.spotlightBorder {
	border-bottom: none !important;
	background:transparent url(/images_documents/dotted_line_blue.gif) repeat-x scroll left bottom !important;
}

a._externalwhite:link,
a._externalwhite:visited {
	list-style-image: none;
	list-style-type: none;
	background:transparent url(/images_documents/iconexternallinkwhite.gif) no-repeat right 1px;
	padding-right:20px; 
}





/* Segment Boxes */
.SegmentHolder {
	width: 440px;
	padding: 0;
	margin: 0;
}
.SegmentHeader {
	font-family:Georgia;
	font-size: 20px;
	color: #5B6B9D;
}
.SegmentHeader a, .SegmentHeader a:visited {
	color: inherit; /*keep links from having different color */
}

.Segment {
	width: 45%;
	float: left;
	margin-right: 5%;
	border-bottom:1px solid #C7D9DF;
	margin-bottom: 10px;
}
.SegmentLeft {
	width: 45%;
	float: left;
	margin-right: 5%;
	border-bottom:1px solid #C7D9DF;
	margin-bottom: 10px;
}

.SegmentHolder ul {
	margin: 0;
	padding: 0;
	padding-left: 0 !important;
	margin-left: 0 !important;
	list-style-type: none !important;
	list-style-position: outside !important;
} 

.SegmentHolder li {
	list-style-type: none !important;
	list-style-position: outside !important;
	background:transparent url(/images_documents/dotted_line_blue.gif) repeat-x scroll left bottom;
	display:block;
	padding: 10px;
	padding-left: 0 !important;
	margin-left: 0 !important;
}
	
.SegmentHolder li a {
	font-size: 80%;
}
	
.SegmentHolder ul {
	margin-bottom: -1px;
	overflow: hidden;
}
	
.SegmentText {
	border-bottom:1px solid #C7D9DF;
	font-family:verdana,arial,sans-serif;
	font-size: 80%;
	font-style:normal;
	margin-bottom:10px;
	padding-bottom:20px;
	padding-top:15px;
}
	

/* End Segment Boxes */


/* 4 Section Pages styles */


/* students */

#nav_sub ul.top_level_student li {
	border-bottom: solid #99B0CD 2px !important;
}

.content_main_student .SegmentText {
	color:#465F8B;
}

.bd_student {
	background: url(/images_documents/bg_left_student.gif) repeat-y 0px 0px !important;
}

.student_sub {
	border-top: 1px solid #88A2C3 !important;
}

.student_header {
	background: url(/images_documents/sub_nav_header_bg_students.gif) repeat-x 0px center !important;
	border-left: 1px solid #7186AE;
	border-right: 1px solid #7186AE;
	border-top: 1px solid #7186AE !important;
}

div.student_sub strong {
	color:#465F8B !important;
}

.student_form form {
	background:transparent url(/images_documents/bg_left_student.gif) repeat-y scroll -10px 0px !important;
	margin-bottom:-3px !important;                                           /* Hides the dotted line on top of the dropdowns */
	margin-top:-9px !important;                                              /* Use and image instead of #hex so that color matches in every browser */
	padding-top:7px !important;
}

.nav_sub_footer_student {
	border-bottom: 1px solid #7186AE !important;
}

.icon_float_student {
	float: right;
	background: url(/images_documents/iconStudents.gif) no-repeat;
	width: 57px;
	height: 34px;
	margin-bottom: -2px;
}


#nav_sub ul.top_level_student {
	background-color: #88A2C3 !important;
}

.student_form select {
	border: 1px solid #99B0CD !important;
}

/* residents */

.bd_resident .SegmentHeader {
	color:#3A883A !important;
}


.content_main_resident .SegmentText {
	color:#3A883A !important;
}

.bd_resident {
	background: url(/images_documents/bg_left_resident.jpg) repeat-y 0px 0px !important;
}

.resident_sub {
	border-top:1px solid #7CBD75 !important;
}

.resident_header {
	background: url(/images_documents/sub_nav_header_bg_resident.gif) repeat-x 0px center !important;
	border-left: 1px solid #7CBD75;
	border-right: 1px solid #7CBD75;
	border-top: 1px solid #7CBD75 !important;
}

div.resident_sub strong {
	color:#3A883A !important;
}

.resident_form form {
	background:transparent url(/images_documents/bg_left_resident.jpg) repeat-y scroll -10px 0px !important;
	margin-bottom:-3px !important;                                           /* Hides the dotted line on top of the dropdowns */
	margin-top:-9px !important;                                              /* Use and image instead of #hex so that color matches in every browser */
	padding-top:7px !important;
}

.resident_form select {
	border: 1px solid #7CBD75 !important;
}

.nav_sub_footer_resident {
	border-bottom: 1px solid #7CBD75 !important;
}

.icon_float_resident {
	float: right;
	background: url(/images_documents/iconResidents.gif) no-repeat;
	width: 57px;
	height: 34px;
	margin-bottom: -2px;
}


#nav_sub ul.top_level_resident {
	background-color: #83C276 !important;
}  
	
#nav_sub ul.top_level_resident li {
	border-bottom: solid #A6DB98 2px !important;
}



/* business */

.bd_business .SegmentHeader {
	color: #466A4E !important;
}


.content_main_business .SegmentText {
	color: #466A4E !important;
}

.bd_business {
	background: url(/images_documents/bg_left_business.gif) repeat-y 0px 0px !important;
}

.business_sub {
	border-top:1px solid #97BD9D !important;
}

.business_header {
	background: url(/images_documents/sub_nav_header_bg_business.gif) repeat-x 0px center !important;
	border-left: 1px solid #97BD9D;
	border-right: 1px solid #97BD9D;
	border-top: 1px solid #97BD9D !important;
}

div.business_sub strong {
	color:#466A4E !important;
}

.business_form form {
	background:transparent url(/images_documents/bg_left_business.gif) repeat-y scroll -10px 0px !important;
	margin-bottom:-3px !important;                                           /* Hides the dotted line on top of the dropdowns */
	margin-top:-9px !important;                                              /* Use and image instead of #hex so that color matches in every browser */
	padding-top:7px !important;
}

.business_form select {
	border: 1px solid #7CBD75 !important;
}

.nav_sub_footer_business {
	border-bottom: 1px solid #7CBD75 !important;
}

.icon_float_business {
	float: right;
	background: url(/images_documents/iconBusiness.gif) no-repeat;
	width: 57px;
	height: 34px;
	margin-bottom: -2px;
}


#nav_sub ul.top_level_business {
	background-color: #85AF8C !important;
}  
	
#nav_sub ul.top_level_business li {
	border-bottom: solid #A6CBAA 2px !important;
}

/* visitor */

.bd_visitor .SegmentHeader {
	color: #387E81 !important;
}


.content_main_visitor .SegmentText {
	color: #387E81 !important;
}

.bd_visitor {
	background: url(/images_documents/bg_left_visitor.jpg) repeat-y 0px 0px !important;
}

.visitor_sub {
	border-top:1px solid #86C6B8 !important;
}

.visitor_header {
	background: url(/images_documents/sub_nav_header_bg_visitor.gif) repeat-x 0px center !important;
	border-left: 1px solid #86C6B8;
	border-right: 1px solid #86C6B8;
	border-top: 1px solid #86C6B8 !important;
}

div.visitor_sub strong {
	color: #387E81 !important;
}

.visitor_form form {
	background:transparent url(/images_documents/bg_left_visitor.jpg) repeat-y scroll -10px 0px !important;
	margin-bottom:-3px !important;                                           /* Hides the dotted line on top of the dropdowns */
	margin-top:-9px !important;                                              /* Use and image instead of #hex so that color matches in every browser */
	padding-top:7px !important;
}

.visitor_form select {
	border: 1px solid #86C6B8 !important;
}

.nav_sub_footer_visitor {
	border-bottom: 1px solid #86C6B8 !important;
}

.icon_float_visitor {
	float: right;
	background: url(/images_documents/iconVisitors.gif) no-repeat;
	width: 57px;
	height: 34px;
	margin-bottom: -2px;
}


#nav_sub ul.top_level_visitor {
	background-color: #78BDAE !important;
}  
	
#nav_sub ul.top_level_visitor li {
	border-bottom: solid #98CEC2 2px !important;
}


/* End 4 section pages styles */















/* begin translation imagemap */
	
#imap {
	display:block;
	width:220px;
	height:103px;
	background:url(//www.cityofboston.gov//images_documents/translate_smushit.gif.png) no-repeat;
	position:relative;
}

#imap dd { /* place the &lt;dd&gt;s in the correct absolute position */
	position:absolute;
	padding:0;
	margin:0;
	border:0;
}
#imap #picp {	left: 18px;
	top: 15px;
	width: 87px;
	height: 21px; z-index:20;
}
#imap #picr {left: 17px;
	top: 39px;
	width: 90px;
	height: 22px; z-index:20;
}
#imap #picj {left: 16px;
	top: 63px;
	width: 91px;
	height: 22px; z-index:20;
}
#imap #picg {left: 119px;
	top: 14px;
	width: 91px;
	height: 25px; z-index:20;
}

#imap #pich {left: 115px;
	top: 39px;
	width: 100px;
	height: 19px; z-index:20;
}
#imap #pick {left: 114px;
	top: 60px;
	width: 97px;
	height: 25px; z-index:20;
}

#imap a { /* style the &lt;dd&gt;&lt;a&gt; links physical size and the background image for the hover */
	display:block;
	width:90px;
	height:22px;
	text-decoration:none;
	z-index:20;
}

#imgmap {
	position: relative;
	_zoom: 1;
}

#imgmap li {
	position: absolute;
	display: block;
	list-style: none;
	overflow: hidden;
	border: none;
	background: none !important;
	margin: 0 !important;
	padding: 0 !important;
}

#imgmap li a {
	display: block;
	border: none;
	width: 100%;
	height: 100%;
	_background: url(space.gif);
}

#area1 {
	left: 18px;
	top: 15px;
	width: 87px;
	height: 21px;
}

#area2 {
	left: 18px;
	top: 36px;
	width: 0px;
	height: 17px;
}

#area3 {
	left: 17px;
	top: 39px;
	width: 90px;
	height: 22px;
}

#area4 {
	left: 17px;
	top: 39px;
	width: 0px;
	height: 17px;
}

#area5 {
	left: 16px;
	top: 63px;
	width: 91px;
	height: 22px;
}

#area6 {
	left: 16px;
	top: 63px;
	width: 0px;
	height: 17px;
}

#area7 {
	left: 119px;
	top: 14px;
	width: 91px;
	height: 25px;
}

#area8 {
	left: 119px;
	top: 39px;
	width: 0px;
	height: 17px;
}

#area9 {
	left: 115px;
	top: 39px;
	width: 100px;
	height: 19px;
}

#area10 {
	left: 115px;
	top: 39px;
	width: 0px;
	height: 17px;
}

#area11 {
	left: 114px;
	top: 60px;
	width: 97px;
	height: 25px;
}


/* end translastion imagemap */

#logo_cconnect3 {
background:#FFF url(/images_documents/citizensconnectbutton.png) ;  

}

/* thumbnail list used for summer page */
	ul#thumbs, ul#thumbs li{
		margin:0;
		padding:0;
		list-style:none;
	}
	
	ul#thumbs li{
		float:left;
		margin-bottom:5px;
		margin-right:5px;
		border:1px solid #999;	
		padding:2px;
	}
	ul#thumbs a{
		display:block;
		float:left;
		width:100px;
		height:100px;
		line-height:100px;
		overflow:hidden;
		position:relative;
		z-index:1;		
	}
	ul#thumbs a img{
		float:left;
		position:absolute;
		top:-50px;
		left:-50px;	
	}
	
	/* mouse over */
	
		ul#thumbs a:hover{
			overflow:visible;
			z-index:1000;
			border:none;		
		}
		ul#thumbs a:hover img{
			border:1px solid #999;	
			background:#fff;
			padding:5px;			
		}	
	
	/* // mouse over */

	/* clearing floats */
	
		ul#thumbs:after, li#thumbs:after{
			content:"."; 
			display:block; 
			height:0; 
			clear:both; 
			visibility:hidden;
			}
		ul#thumbs, li#thumbs{
			display:block;
			}
		/*  \*/
		ul#thumbs, li#thumbs{
			min-height:1%;
			}
		* html ul#thumbs, * html li#thumbs{
			height:1%;
			}	
	
	/* // clearing floats */

/* // thumbnail list */

/* Blue Box for Notices, formatting  */

.bluebox{
	border:1px solid #6b9eb5; 
	background: #f2f7f9; 
	padding:5px;
	margin-bottom: 10px; 
                margin-top: 10px; 	
	}
.bluebox img{
	vertical-align:middle;
	padding-right:10px;
}
.bluebox h4{
	color:#276598;
	font-size:100%;
	font-weight:bold;
	font-family:Georgia;
	padding-bottom:10px;
}

/* // Blue Box for Notices, formatting  */

/* Blue Box for Press Releases on Mayor Homepage  */

.bluebox_press{
	border:1px solid #6b9eb5; 
	background: #f2f7f9; 
	padding:5px;
	margin-bottom: 10px; 
                margin-top: 10px; 	
	}
.bluebox_press img{
	vertical-align:middle;
	padding-right:10px;
}
.bluebox_press h4{
	color:#276598;
	font-size:100%;
	font-weight:bold;
	font-family:Georgia;
	padding-bottom:10px;
}
.bluebox_press ul{
	list-style-type: none
	margin: 1em 0;
  	padding: 0 0 0 40px;	
}

/* // Blue Box for Press Releases on Mayor Homepage  */

/* Tabs for Center Column  */
#tabs ul.ui-nav {
    list-style: none;
    padding:0;
    margin:0;
}
#tabs li.ui-state {
    display: inline;
    border: 1px solid #cccccc;
    border-width: 1px 1px 0 1px;
    margin: 0 3px 0 0;
    padding: 5px 5px 5px 7px;
    background: #274867; 
	list-style-type: none !important;
	float: left;
	height: 35px;
	width: 55px;
}
#tabs li.ui-state a {
    padding: 0 0;
}
#tabs li.ui-state a {
    text-decoration: none;
    FONT-FAMILY: verdana;
	COLOR: white;  
    font-weight: bold; 
    FONT-SIZE: x-small; 
} 

#tabs li.selected {
    background: #D9E7ED;
}
#tabs li.selected a {
	COLOR: #274867; 
}

#tabs .tabdescription {
    border: 1px solid #cccccc;
    background: #D9E7ED;
    padding: 7px;
    margin: 5px 0px 0px 0px;
    FONT-FAMILY: Verdana;
    font-size: x-small;
	clear: left;
}

#tabs .tabdescription a {
    color: #0033CC !important;
    font-weight: normal !important;
}

#tabs .tabdescription p {
    padding: 0.5em 0;
}

#tabs .tabdescription li {
margin-left: 25px;
list-style-type: inherit !important;
}
/* // Tabs for Center column  */

/* social media page */

img.smInfo {
            vertical-align: middle; 
            padding-right: 5px;
            height: 18px;
            cursor: help;
}
.twitterfeedcenter {
                padding: 10px;
}
.twitterfeedcenter ul {
                list-style-type: none;
                margin-left: 0;
}
.twitterfeedcenter li {
                padding-bottom: 10px;
                list-style: inherit;
                padding-left: 10px;
}
.socialMediaTable td {
                padding: 10px;
}

.SegmentText h2 
{
    font-family: Georgia;
    font-size: 195%;
    font-weight: bold;
    margin-bottom: 10px;
}

/* // socialmedia bar */

#socialmedia_bar {
	position: fixed;
	top: 50%;
	margin-top: -155px;
	right:0px; 
z-index:999;
width: 31px;
}

#addthiscode .addthis_toolbox a {
padding: 7px;
border-top: 1px solid #E4E4E4;
}

#addthiscode {
width: 29px; 
padding:0px; 
background: #f4f4f4;
border-color: #fff #fff #fff;
border-style: solid solid solid;
border-width: 1px;
box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
-moz-box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
border-right: none;
position: absolute;
top: 105px;
right: 0;
z-index: 0;
}

#feedbackcode {
	position:absolute;
	top: 0;
	right: 0;
	z-index:1;
}

#feedbackcode img.feedbackify_btn {
	margin-right: -2px !important;
}

#feedbackcode img.feedbackify_btn:hover {
	margin-right: 0px !important;
}

/* // end social media bar */

.tableEight td {
    width: 12.5%;
}

/*Transform XSLT, RTF table style*/

table.dark-blue {
border-collapse: collapse;
border-spacing: 0;}

.dark-blue td { border: 1px solid #316180; padding: 3px; }

.dark-blue th { background: none repeat scroll 0 0 #87B6CA; border-bottom: 2px solid #316180; text-align:center; }

.dark-blue tr:first-child td { background: none repeat scroll 0 0 #87B6CA; border-bottom: 2px solid #316180; text-align: center;}

.image_wrap1 .image_wrap2 a {
    background: none repeat scroll 0 0 transparent !important;
    padding-right: 0 !important;
}
/*so image doesnt get appended to picture*/

/* for subscribe page */  
.scrollingdropdown {
background-color: #F2F7F9;
color: black;
scrolling: auto;
overflow: auto;
height: 19ex;
}

.scrollingdropdown > input {
margin: 4px;
}
/* // end */