<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <caching>
            <profiles>
                <add extension="*" policy="CacheUntilChange" kernelCachePolicy="DontCache" />
            </profiles>
        </caching>
        <httpProtocol>
            <customHeaders>
                <add name="Cache-Control" value="max-age=3600, Public" />
            </customHeaders>
        </httpProtocol>
    </system.webServer>
</configuration>
